<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
		<!-- Required meta tags -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<meta name="theme-color" content="#7952b3">
    	<!-- Custom styles for this template -->
    	<link href="signin.css" rel="stylesheet">
		<style>
			.form-signin {
			width: 100%;
			max-width: 330px;
			padding: 15px;
			margin: auto;
			}

			.form-signin .checkbox {
			font-weight: 400;
			}

			.form-signin .form-floating:focus-within {
			z-index: 2;
			}

			.form-signin input[type="email"] {
			margin-bottom: -1px;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
			}

			.form-signin input[type="password"] {
			margin-bottom: 10px;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			}

		</style>
		<title>Document</title>
	</head>
	<body>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
			  <a class="navbar-brand" href="#">SSI Website</a>
			  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				  <li class="nav-item">
					<a class="nav-link"" href="/">Home</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="/register">Registration</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="/login">Login</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/ssi">SSI</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="/page1">Page 1</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="/page2">Page 2</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="/logout">Logout</a>
				  </li>
			  </div>
			</div>
		  </nav>
		<!-- <h1>Registration</h1> -->
		<h4 class="h3 mb-3 fw-normal" style="text-align: center;">Use the options below to search for active connections</h4>
		<h4 class="h3 mb-3 fw-normal" style="text-align: center;">You can find both these values from your wallet.</h4>
		<main class="form-signin">
			  <div class="form-floating">
				<label for="floatingInput">Search using your memorable name:</label>
				<input type="text" class="form-control" name="memNameSearch" id="memNameSearch" placeholder="Memorable Name">
			
			  </div>
			  <br>
			  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			  <button class="w-10 btn btn-lg btn-primary" type="submit" id="submitMem">Submit</button>
		</main>
		<main class="form-signin">
			<div class="form-floating">
			  <label for="floatingInput">Saerch using your did value (just type first 5 characters):</label>
			  <input type="text" class="form-control" name="didSearch" id="didSearch" placeholder="DID Value">
		  
			</div>
			<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<button class="w-10 btn btn-lg btn-primary" type="submit" id="submitDID" >Submit</button>
	  </main>
		<!-- <form id="login">
			<input type="text" autocomplete="off" id="username" placeholder="Username" />
			<input type="password" autocomplete="off" id="password" placeholder="Password" />
			<input type="submit" value="Submit Form" />
		</form> -->

		<script>
			$(document).ready(function () {
				$(document).on('click', '#submitMem', async function(e){ 
				// e.preventDefault();
				var memoName;
				if (!$('#memNameSearch').val()) {
            		alert('Enter a memorable name!');
  				} else {
					console.log("Now checking memorable name...");
					memoName = $('#memNameSearch').val(); 
					const result = await fetch('/checkMemName', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json'
						},
						body: JSON.stringify({
							memoName
						})
					}).then((res) => res.json())
					console.log("Result", result);
					if(!result.status) {
						const conID = result.connection;

						var form = $("<form/>", 
							{ action: '/twoFactor', method: 'POST' }
						);
						form.append( 
							$('<input>', {type: 'hidden', id: 'memoName', name: 'memoName', value: memoName})
						);
						form.append( 
							$('<input>', {type: 'hidden', id: 'conID', name: 'conID', value: conID}
							)
						);

						form.appendTo('body').submit();
						
						//The commented out code was for active connections without any two factors///
						// $('<form/>', { action: '/activeConctd', method: 'POST' }).append(
						// 	$('<input>', {type: 'hidden', id: 'memo', name: 'conID', value: conID})
						// ).appendTo('body').submit(); 
					} else if(result.status) {
						alert("No connection found with this memorable name. Try with other name!")
						// $('#submit').prop('disabled', false)
						// $('#check').prop('disabled', true)
					}
				  }
				});
				$(document).on('click', '#submitDID', async function(e){ 
				// e.preventDefault();
				var did;
				if (!$('#didSearch').val()) {
            		alert('Enter a DID value!');
  				} else {
					console.log("Now checking did value...");
					did = $('#didSearch').val(); 
					const result = await fetch('/checkDID', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json'
						},
						body: JSON.stringify({
							did
						})
					}).then((res) => res.json())
					console.log("Result", result);
					if(!result.status) {
						const conID = result.connection;
						$('<form/>', { action: '/activeConctd', method: 'POST' }).append(
							$('<input>', {type: 'hidden', id: 'memo', name: 'conID', value: conID})
						).appendTo('body').submit(); 
					} else if(result.status) {
						alert("No connection found with this DID. Try with other name!")
						// $('#submit').prop('disabled', false)
						// $('#check').prop('disabled', true)
					}
				  }
				});
			});
			

			// const form = document.getElementById('login')
			// form.addEventListener('submit', login)

			// async function login(event) {
			// 	event.preventDefault()
			// 	const username = document.getElementById('username').value
			// 	const password = document.getElementById('password').value

			// 	const result = await fetch('/api/login', {
			// 		method: 'POST',
			// 		headers: {
			// 			'Content-Type': 'application/json'
			// 		},
			// 		body: JSON.stringify({
			// 			username,
			// 			password
			// 		})
			// 	}).then((res) => res.json())

			// 	if (result.status === 'ok') {
			// 		// everythign went fine
			// 		console.log('Got the token with the username: ' + result.data)
			// 		localStorage.setItem('token', result.data)
			// 		// alert('Success')
			// 		window.location.href = "/page1";

			// 	} else {
			// 		alert(result.error)
			// 	}
			// }
		</script>
	</body>
</html>
