<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
		<!-- Required meta tags -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<title>Document</title>
	</head>
	<body>
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
			  <a class="navbar-brand" href="#">SSI Website</a>
			  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-5 mb-lg-0">
				  <li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/">Home</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="/register">Registration</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="/login">Login</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="/ssi">SSI</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="/page1">Page 1</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="/page2">Page 2</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="/logout">Logout</a>
				  </li>
			  </div>
			</div>
		  </nav>
		  <div class="container px-4 py-5" id="featured-3">
			<h2 class="pb-2 border-bottom">Welcome to SSI Demo Website</h2>
			<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
			  <div class="feature col">
				<div class="feature-icon bg-primary bg-gradient">
				  <!-- <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"/></svg> -->
				</div>
				<h2>Home</h2>
				<!-- <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p> -->
				<a href="/" class="icon-link">
				  Go to home page...
				  <!-- <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg> -->
				</a>
			  </div>
			  <div class="feature col">
				<div class="feature-icon bg-primary bg-gradient">
				  <!-- <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"/></svg> -->
				</div>
				<h2>Registration</h2>
				<!-- <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p> -->
				<a href="/register" class="icon-link">
				  Click to Register
				  <!-- <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg> -->
				</a>
			  </div>
			  <div class="feature col">
				<div class="feature-icon bg-primary bg-gradient">
				  <!-- <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg> -->
				</div>
				<h2>Login</h2>
				<!-- <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p> -->
				<a href="/login" class="icon-link">
				  Clock to Login
				  <!-- <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg> -->
				</a>
			  </div>
			</div>
		  </div>
	</body>
</html>
